<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
	<meta property="og:title" content="Heroku上傳測試"></meta>
	<meta property="og:url" content="https://myapp1204.herokuapp.com/hello/TT123/"></meta>
	<meta property="og:description" content"Django->GitHub->Heroku"></meta>
    <title>Heroku for free</title>
    {% load staticfiles %}
    <link href="{% static "css/style.css" %}" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="home">
        <h1> 歡迎光臨： {{username}}</h1>
        <h2> 現在時刻： {{now}} </h2>
    </div>   
</body>
</html>
